.mainContainer {
	 @media screen and (min-width: 768px) {
        position: relative;
        margin: 0 auto;
  		  padding: 100px;
        width : 100%;
        height: 100%;
  		  overflow-x: auto;
   		  white-space: nowrap;
    	  -webkit-overflow-scrolling: touch;
        display : inline-block;
        overflow-x: hidden;
        cursor : pointer;
        &:hover{
          cursor : grab;
        }
    }
    @media screen and (max-width: 767px) {
        margin-top: 20px;
        padding: 10px;
        width : 100%;
        overflow-x: auto;
   		  white-space: nowrap;
       
    }
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 

    }
}

.codeContainer {
  @media screen and (min-width: 768px) {
       position: relative;
       width : 100%;
       height: 100%;
       display : inline-block;
       cursor : pointer;
       margin-left: 120px;

   }
   @media screen and (max-width: 767px) {
       padding: 10px;
       width : 100%;
       height: 100%;
       

   }
   @media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 

   }
}

.mainContainerSearchWrapper{
  position: relative;
  width: 100%;
  height: 100%;
}
.mainContainerSearch {
  @media screen and (min-width: 768px) {
      position: absolute;
      width: 300px;
      height: 100%;
      margin: 0px auto;
      left: 0;
      right: 0;
      bottom : 0;
      top : 100px;

   }
   @media screen and (max-width: 767px) {
      position: absolute;
      width: 300px;
      height: 50px;
      margin-left: 70px;
      left: 0;
      right: 0;
      bottom : 0;
      top : 100px;
      
      
   }
   @media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 

   }
}


.mainContainerTitle {
  @media screen and (min-width: 768px) {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 9999;
      p {
        color : #fff;
        font-size: 90px;
        font-weight: 700;position: absolute;
        width:100%;
        height: 200px;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        margin: 0px auto;
        text-shadow: 5px 5px #000;
      }
    
   }
   @media screen and (max-width: 767px) {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 9999;
      p {
        position: absolute;
        width:100%;
        height: 200px;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        margin: 0px auto;

        color : #fff;
        font-size: 40px;
        font-weight: 700;
        text-shadow: 5px 5px #000;
      }
   }
   @media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
    position: relative;
    width: 100%;
    height: 100%;
    p {
      position: absolute;
      width:100%;
      height: 200px;
      left: 0px;
      top: 0px;
      right: 0px;
      bottom: 0px;
      margin: 0px auto;

      color : #fff;
      font-size: 70px;
      font-weight: 700;
      text-shadow: 5px 5px #000;
    }
   }
}

.searchInput{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  outline: none;
  height: 40px;
  width: 200px;
}
.searchButton{
  
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  outline : none;
  height: 40px;
  background-color: cadetblue;
  color : #fff;
  &:hover{
    background-color: brown;
  }
}

.searchTitle{
  color : #fff;
  margin-bottom : 5px;
  font-size : 120%;
  font-weight: 700;
}


.mainContainerReddit {
  @media screen and (min-width: 768px) {
    .redditListGroup{
      margin-top : -50px;
      padding-left: 100px;
      background: transparent;
      border: none;
      width: 80%;
      .redditListItem{
        background: transparent;
        border: none;
        border-bottom: 1px solid rgb(211, 208, 208);
        color : #fff;
        a{
          color : #fff
        }
    
      }
    }

  }
  @media screen and (max-width: 767px) {
    .redditListGroup{
      margin-top : 30px;
      padding-left: 10px;
      background: transparent;
      border: none;
      width: 96%;
      .redditListItem{
        background: transparent;
        border: none;
        border-bottom: 1px solid rgb(211, 208, 208);
        color : #fff;
        a{
          color : #fff
        }
    
      }
    }
  }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
    .redditListGroup{
      margin-top : -50px;
      padding-left: 30px;
      background: transparent;
      border: none;
      width: 100%;
      .redditListItem{
        background: transparent;
        border: none;
        border-bottom: 1px solid rgb(211, 208, 208);
        color : #fff;
        a{
          color : #fff
        }
    
      }
    }
  }
}

.aboutHomepageBadge {
  @media screen and (min-width: 768px) {
    background-color: rgb(42, 54, 59);
  }
  @media screen and (max-width: 767px) {
 
    width: 150px;
    margin-top: 10px;
    margin-left : 20px;
    float: left;
    background-color: rgb(42, 54, 59);

  }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
 
  }
}

.aboutMeBadge {
  @media screen and (min-width: 768px) {
    background-color: #EA9215;
  }
  @media screen and (max-width: 767px) {
    width: 150px;
    margin-top: 10px;
    margin-right: 20px;
    background-color: #EA9215;
    float: right;

  }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
 
  }
}

.codePageTheme {
  @media screen and (min-width: 768px) {
    font-size : 150%;
    padding-top: 50px;
    font-weight: 600;
  }
  @media screen and (max-width: 767px) {
    
  }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
 
  }
}

.codePageContent{
 
  @media screen and (min-width: 768px) {
    color : #fff;
    padding : 10px;
    border-top : 1px solid #fff;
    border-bottom : 1px solid #fff;
    width : 100%;
    height : 200px;
    cursor: pointer;
    p{
      font-size: 150%;
      margin-top: 23px;
    }
    span{
      font-size: 80%;
      font-weight: 300;
      color : #ebebeb;
    }
  }
  @media screen and (max-width: 767px) {
    color : #fff;
    padding : 10px;
    border-top : 1px solid rgb(136, 136, 136);
    border-bottom : 1px solid  rgb(136, 136, 136);
    width : 100%;
    height : auto;
    cursor: pointer;
    span{
      font-size: 90%;
      font-weight: 300;
      color : #ebebeb;
    }
    p{
      font-size: 130%;
    }
  }

}

.activeClassName{
  color : blue;
}







