.mainContainer {
	 @media screen and (min-width: 768px) {
        margin: 0 auto;
  		  padding: 100px;
  		  width : 90%;
  		  overflow-x: auto;
   		  white-space: nowrap;
    	  -webkit-overflow-scrolling: touch;
        display : inline-block;
        overflow-x: hidden;
        cursor : pointer;
        &:hover{
          cursor : grab;
        }
    }
    @media screen and (max-width: 767px) {
    	  margin: 0 auto;
		  padding: 10px;
		  width : 100%;
		  overflow-x: auto;
   		  white-space: nowrap;
       
    }
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 

    }
}