.ModalButtonStyle {
    width : 50px;
    height : 50px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    text-align: center;
    border-radius: 100px;
    background-color: #FFD6A4;
    border : none;
    outline: 0;
    
    &:hover{
        background-color: #fff;
        border: 2px solid #FDE9DF;
    }

    p {
        font-weight: 600;
        font-size: 120%;
        color : #000;

        &:hover{
            color : #000;
        }
    }
}

.ModalWrapper{
    color : #fff;
    background-color: #282D4F;
    border : none;
    padding: 10px;

}

.ModalParent{
    @media screen and (min-width: 768px) {
        width: 60%;
    }
    @media screen and (max-width: 767px) {
        
    }
}

.modalPushButton{
    background-color: #FF6C00;
    color : #fff;

    @media screen and (min-width: 768px) {
        width: 60px;
        height: 60px;
        text-align: center;
        border : none;
        border-radius: 100%;


    }
    @media screen and (max-width: 767px) {
        width: 60px;
        height: 30px;
        text-align: center;
        border : none;
    }
}
.modalCloseButton {
    background-color: #A0204C;
    color : #fff;
    
    @media screen and (min-width: 768px) {
        width: 60px;
        height: 60px;
        text-align: center;
        border : none;
        border-radius: 100%;


    }
    @media screen and (max-width: 767px) {
        width: 60px;
        height: 30px;
        text-align: center;
        border : none;
    }
}

.displayButton {
    @media screen and (min-width: 768px) {
        display: block;
    }
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.dropdownCustom{
    width: 100%;
    height: 60px;
    border : 1px solid #fff;
    
}
