@import url(http://api.mobilis.co.kr/webfonts/css/?fontface=NanumGothicWeb); 
* { font-family: 'NanumGothic', '나눔고딕','NanumGothicWeb', '맑은 고딕', 'Malgun Gothic', Dotum; }
html{
  position: relative;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #CF4647;
  min-height: 100% !important;
  
}

#root{
  min-height: 100%;
}

